In [2]:
import pandas as pd
import os

In [5]:
# expression matrix
exp_path = 'TcellDev/Data/T_cell_development/10x_1993_log2_q_norm.txt'

# cluster ids and cell type ids
id_path = 'TcellDev/Data/T_cell_development/cell_cluster15_self_modcell.txt'

In [9]:
exp = pd.read_csv(exp_path, sep = "\t")

In [14]:
exp.head()

,gene_id,AAACCTGGTCGACTGC-1,AAACGGGAGCTAACAA-1,AAACGGGCACATGGGA-1,AAACGGGGTAGCGTGA-1,AAACGGGGTATCGCAT-1,AAAGATGAGGACCACA-1,AAAGATGCAATCTGCA-1,AAAGATGGTGCAGGTA-1,AAAGATGGTTTGTTTC-1,...,TTTGCGCTCGTAGATC-1,TTTGGTTAGAGGACGG-1,TTTGGTTCAATGGAGC-1,TTTGGTTGTGTTTGTG-1,TTTGGTTTCTACCAGA-1,TTTGTCACAAGTCATC-1,TTTGTCACACCACCAG-1,TTTGTCACACTTGGAT-1,TTTGTCACAGACGCAA-1,TTTGTCAGTTAGATGA-1
0,Mrpl15,0.0,0.000000,0.0,0.000000,1.033627,0.350455,0.000000,0.185843,0.0,...,0.000000,0.0,0.705498,0.550533,0.0,0.32352,0.000000,0.192193,1.706164,0.000000
1,Lypla1,0.0,0.000000,0.0,0.000000,0.269895,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.705498,0.005779,0.0,0.00000,0.000000,0.000000,0.000000,0.957765
2,Tcea1,0.0,1.111742,0.0,0.000000,1.227245,0.350455,0.210451,0.000000,0.0,...,0.000000,0.0,0.000000,0.005779,0.0,0.00000,1.875916,0.192193,0.000000,0.000000
3,Atp6v1h,0.0,0.000000,0.0,1.044197,0.000000,0.000000,0.000000,0.000000,0.0,...,0.692119,0.0,0.705498,0.000000,0.0,0.00000,0.000000,0.000000,0.800410,0.000000
4,Rb1cc1,0.0,1.111742,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.692119,0.0,0.000000,0.208573,0.0,0.00000,0.000000,0.000000,0.000000,0.000000

In [15]:
exp.shape

(8846, 1994)

In [16]:
id_info = pd.read_csv(id_path, sep = "\t")

In [17]:
id_info

,cell,nGene,nUMI,orig.ident,percent.mito,res.2,stage,bigstage,color
0,CAAGGCCGTATATGAG-1,1652,1616.439338,T cell development,0.026182,12,1DN,1DN,darkcyan
1,GTCACAAAGATCGATA-1,1783,1705.195521,T cell development,0.025659,12,1DN,1DN,darkcyan
2,TGCCCATAGGTACTCT-1,2245,1833.787767,T cell development,0.022659,12,1DN,1DN,darkcyan
3,GACGGCTCACGGTGTC-1,2304,1868.152040,T cell development,0.020664,12,1DN,1DN,darkcyan
4,TAGGCATTCTTTACGT-1,3399,2079.426036,T cell development,0.018608,12,1DN,1DN,darkcyan
...,...,...,...,...,...,...,...,...,...
1981,CGCGGTATCGCTTAGA-1,1173,1557.990006,T cell development,0.025489,13,10APC,10APC,cadetblue
1982,AAACGGGAGCTAACAA-1,1051,1555.424337,T cell development,0.011485,13,10APC,10APC,cadetblue
1983,CGTTCTGAGGAGTCTG-1,1331,1593.063887,T cell development,0.027733,13,10APC,10APC,cadetblue
1984,TGAGGGAGTTGTGGAG-1,1077,1545.898994,T cell development,0.027595,13,10APC,10APC,cadetblue
1985,TTTATGCTCACTTACT-1,1188,1559.547061,T cell development,0.020869,13,10APC,10APC,cadetblue

In [20]:
# pivot column names into a row
barcodes_exp = exp.columns[1:]

In [21]:
barcodes_exp

Index(['AAACCTGGTCGACTGC-1', 'AAACGGGAGCTAACAA-1', 'AAACGGGCACATGGGA-1',
       'AAACGGGGTAGCGTGA-1', 'AAACGGGGTATCGCAT-1', 'AAAGATGAGGACCACA-1',
       'AAAGATGCAATCTGCA-1', 'AAAGATGGTGCAGGTA-1', 'AAAGATGGTTTGTTTC-1',
       'AAAGATGTCCAAATGC-1',
       ...
       'TTTGCGCTCGTAGATC-1', 'TTTGGTTAGAGGACGG-1', 'TTTGGTTCAATGGAGC-1',
       'TTTGGTTGTGTTTGTG-1', 'TTTGGTTTCTACCAGA-1', 'TTTGTCACAAGTCATC-1',
       'TTTGTCACACCACCAG-1', 'TTTGTCACACTTGGAT-1', 'TTTGTCACAGACGCAA-1',
       'TTTGTCAGTTAGATGA-1'],
      dtype='object', length=1993)

In [35]:
# pivot to get column names (barcodes) into rows in list
exp_df = exp.melt(id_vars = ['gene_id'],value_vars = barcodes_exp,
                 var_name = 'barcode', value_name = 'count')

In [36]:
exp_df

             gene_id             barcode     count
0             Mrpl15  AAACCTGGTCGACTGC-1  0.000000
1             Lypla1  AAACCTGGTCGACTGC-1  0.000000
2              Tcea1  AAACCTGGTCGACTGC-1  0.000000
3            Atp6v1h  AAACCTGGTCGACTGC-1  0.000000
4             Rb1cc1  AAACCTGGTCGACTGC-1  0.000000
...              ...                 ...       ...
17630073     mt-Cytb  TTTGTCAGTTAGATGA-1  5.273960
17630074       Vamp7  TTTGTCAGTTAGATGA-1  0.957765
17630075  AC125149.3  TTTGTCAGTTAGATGA-1  0.000000
17630076  AC149090.1  TTTGTCAGTTAGATGA-1  1.908289
17630077       DHRSX  TTTGTCAGTTAGATGA-1  0.957765

[17630078 rows x 3 columns]

In [42]:
# left join to get IDs for barcodes
exp_df_join = exp_df.merge(id_info[['cell', 'bigstage']], left_on = 'barcode',
                          right_on = 'cell')

In [43]:
exp_df_join

,gene_id,barcode,count,cell,bigstage
0,Mrpl15,AAACCTGGTCGACTGC-1,0.000000,AAACCTGGTCGACTGC-1,6CD4sp
1,Lypla1,AAACCTGGTCGACTGC-1,0.000000,AAACCTGGTCGACTGC-1,6CD4sp
2,Tcea1,AAACCTGGTCGACTGC-1,0.000000,AAACCTGGTCGACTGC-1,6CD4sp
3,Atp6v1h,AAACCTGGTCGACTGC-1,0.000000,AAACCTGGTCGACTGC-1,6CD4sp
4,Rb1cc1,AAACCTGGTCGACTGC-1,0.000000,AAACCTGGTCGACTGC-1,6CD4sp
...,...,...,...,...,...
17568151,mt-Cytb,TTTGTCAGTTAGATGA-1,5.273960,TTTGTCAGTTAGATGA-1,4DPre
17568152,Vamp7,TTTGTCAGTTAGATGA-1,0.957765,TTTGTCAGTTAGATGA-1,4DPre
17568153,AC125149.3,TTTGTCAGTTAGATGA-1,0.000000,TTTGTCAGTTAGATGA-1,4DPre
17568154,AC149090.1,TTTGTCAGTTAGATGA-1,1.908289,TTTGTCAGTTAGATGA-1,4DPre
17568155,DHRSX,TTTGTCAGTTAGATGA-1,0.957765,TTTGTCAGTTAGATGA-1,4DPre

In [225]:
# slightly easier way to make this df
exp_alt = exp.transpose()

In [226]:
exp_alt.columns = exp_alt.loc['gene_id']

exp_alt = exp_alt.drop(labels = 'gene_id', axis = 0)

In [227]:
# make column for barcode
gene_names= exp_alt.columns[1:]

exp_alt['barcode'] = exp_alt.index

# exp_alt = exp_alt.reset_index()

exp_df2 = exp_alt.merge(id_info[['cell', 'bigstage']], left_on = 'barcode',
                          right_on = 'cell')
# exp_join = exp_alt.merge(id_info[['cell', 'bigstage']], left_on = 'barcode',
#                           right_on = 'cell')

In [228]:
exp_df2 = exp_df2.drop(labels = 'cell', axis = 1)
exp_df2

# exp_df2 = exp_df2[['barcode', 'bigstage', gene_names]]

,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,4732440D04Rik,Pcmtd1,Rrs1,Vcpip1,Sgk3,...,mt-Nd4,mt-Nd5,mt-Nd6,mt-Cytb,Vamp7,AC125149.3,AC149090.1,DHRSX,barcode,bigstage
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0512,0.0,...,3.828043,1.0512,0.0,4.52142,1.0512,0.0,0.0,0.0,AAACCTGGTCGACTGC-1,6CD4sp
1,0.0,0.0,1.111742,0.0,1.111742,0.0,0.0,0.0,0.0,0.0,...,1.903654,0.0,0.0,2.527867,0.0,0.0,0.0,0.0,AAACGGGAGCTAACAA-1,10APC
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.078193,0.0,0.0,...,3.755879,1.078193,1.078193,4.25708,1.935039,0.0,0.0,0.0,AAACGGGCACATGGGA-1,5DPsel
3,0.0,0.0,0.0,1.044197,0.0,0.0,0.0,0.0,0.0,0.0,...,3.448532,1.963344,0.0,4.940801,1.044197,0.0,0.0,0.0,AAACGGGGTAGCGTGA-1,4DPre
4,1.033627,0.269895,1.227245,0.0,0.0,0.0,0.269895,0.269895,0.00938,0.00938,...,3.16904,1.577705,0.0,4.201823,0.00938,0.0,0.0,0.00938,AAACGGGGTATCGCAT-1,2preDP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,0.32352,0.0,0.0,0.0,0.0,0.0,0.32352,0.0,0.0,0.0,...,1.230642,0.0,0.0,3.218717,0.32352,0.0,0.0,0.0,TTTGTCACAAGTCATC-1,3DPbla
1982,0.0,0.0,1.875916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.527867,0.0,0.0,4.318413,0.0,0.0,0.0,0.0,TTTGTCACACCACCAG-1,4DPre
1983,0.192193,0.0,0.192193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.305255,0.192193,0.0,4.044241,0.0,0.0,0.0,0.0,TTTGTCACACTTGGAT-1,3DPbla
1984,1.706164,0.0,0.0,0.80041,0.0,0.0,0.0,0.0,0.80041,0.0,...,3.069424,0.0,0.0,4.758743,0.0,0.0,0.0,0.0,TTTGTCACAGACGCAA-1,6CD4sp
1985,0.0,0.957765,0.0,0.0,0.0,0.0,0.957765,0.0,0.0,0.0,...,4.449692,0.0,0.0,5.27396,0.957765,0.0,1.908289,0.957765,TTTGTCAGTTAGATGA-1,4DPre

In [229]:
dfcols = exp_df2.columns.tolist()
reorder_cols = dfcols[-2:] + dfcols[:-2]

In [230]:
exp_df3 = exp_df2[reorder_cols]

In [231]:
# exp_df3.to_csv('pivoted_exp.csv', sep = "\t")

In [232]:
exp_df3

,barcode,bigstage,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,4732440D04Rik,Pcmtd1,Rrs1,...,mt-Nd3,mt-Nd4l,mt-Nd4,mt-Nd5,mt-Nd6,mt-Cytb,Vamp7,AC125149.3,AC149090.1,DHRSX
0,AAACCTGGTCGACTGC-1,6CD4sp,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.026627,0.0,3.828043,1.0512,0.0,4.52142,1.0512,0.0,0.0,0.0
1,AAACGGGAGCTAACAA-1,10APC,0.0,0.0,1.111742,0.0,1.111742,0.0,0.0,0.0,...,0.0,0.0,1.903654,0.0,0.0,2.527867,0.0,0.0,0.0,0.0
2,AAACGGGCACATGGGA-1,5DPsel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.078193,...,2.632782,0.0,3.755879,1.078193,1.078193,4.25708,1.935039,0.0,0.0,0.0
3,AAACGGGGTAGCGTGA-1,4DPre,0.0,0.0,0.0,1.044197,0.0,0.0,0.0,0.0,...,1.963344,1.963344,3.448532,1.963344,0.0,4.940801,1.044197,0.0,0.0,0.0
4,AAACGGGGTATCGCAT-1,2preDP,1.033627,0.269895,1.227245,0.0,0.0,0.0,0.269895,0.269895,...,2.333177,0.269895,3.16904,1.577705,0.0,4.201823,0.00938,0.0,0.0,0.00938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,TTTGTCACAAGTCATC-1,3DPbla,0.32352,0.0,0.0,0.0,0.0,0.0,0.32352,0.0,...,0.0,0.0,1.230642,0.0,0.0,3.218717,0.32352,0.0,0.0,0.0
1982,TTTGTCACACCACCAG-1,4DPre,0.0,0.0,1.875916,0.0,0.0,0.0,0.0,0.0,...,1.875916,0.0,2.527867,0.0,0.0,4.318413,0.0,0.0,0.0,0.0
1983,TTTGTCACACTTGGAT-1,3DPbla,0.192193,0.0,0.192193,0.0,0.0,0.0,0.0,0.0,...,1.624941,0.192193,3.305255,0.192193,0.0,4.044241,0.0,0.0,0.0,0.0
1984,TTTGTCACAGACGCAA-1,6CD4sp,1.706164,0.0,0.0,0.80041,0.0,0.0,0.0,0.0,...,2.770593,0.0,3.069424,0.0,0.0,4.758743,0.0,0.0,0.0,0.0
1985,TTTGTCAGTTAGATGA-1,4DPre,0.0,0.957765,0.0,0.0,0.0,0.0,0.957765,0.0,...,2.577827,0.0,4.449692,0.0,0.0,5.27396,0.957765,0.0,1.908289,0.957765

In [233]:
# unique values
exp_df3['bigstage'].unique()

array(['6CD4sp', '10APC', '5DPsel', '4DPre', '2preDP', '3DPbla', '1DN',
       '7CD8sp', '9NCL'], dtype=object)

In [234]:
tcell_stages = id_info['bigstage'].unique()[:-2]

In [235]:
exp_df4 = exp_df3.loc[exp_df3['bigstage'].isin(tcell_stages)]

In [236]:
exp_df4['bigstage'].unique()

array(['6CD4sp', '5DPsel', '4DPre', '2preDP', '3DPbla', '1DN', '7CD8sp'],
      dtype=object)

In [237]:
#rename
exp_df5 = exp_df4.copy()
# exp_df5 = exp_df4.rename(columns = {"barcode": "index", "bigstage": "time", ""})

In [238]:
exp_df5['time'] = exp_df5['bigstage']

In [239]:
exp_df5['time'] = exp_df5['time'].replace({'1DN':1, '2preDP':2, '3DPbla':3, '4DPre':4,
                                          '5DPsel':5, '6CD4sp':6, '7CD8sp':6})

In [240]:
cols_rename = exp_df5.columns.tolist()

In [241]:
cols_reorder = [cols_rename[0]] + [cols_rename[-1]] + cols_rename[1:-1]

In [242]:
exp_df5 = exp_df5[cols_reorder]

In [243]:
exp_df5 = exp_df5.rename(columns = {'barcode':'cell_name', 'time': 'time_point', 'bigstage':'assignment'})
exp_df5 = exp_df5.reset_index(drop = True)
exp_df5

,cell_name,time_point,assignment,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,4732440D04Rik,Pcmtd1,...,mt-Nd3,mt-Nd4l,mt-Nd4,mt-Nd5,mt-Nd6,mt-Cytb,Vamp7,AC125149.3,AC149090.1,DHRSX
0,AAACCTGGTCGACTGC-1,6,6CD4sp,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.026627,0.0,3.828043,1.0512,0.0,4.52142,1.0512,0.0,0.0,0.0
1,AAACGGGCACATGGGA-1,5,5DPsel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.632782,0.0,3.755879,1.078193,1.078193,4.25708,1.935039,0.0,0.0,0.0
2,AAACGGGGTAGCGTGA-1,4,4DPre,0.0,0.0,0.0,1.044197,0.0,0.0,0.0,...,1.963344,1.963344,3.448532,1.963344,0.0,4.940801,1.044197,0.0,0.0,0.0
3,AAACGGGGTATCGCAT-1,2,2preDP,1.033627,0.269895,1.227245,0.0,0.0,0.0,0.269895,...,2.333177,0.269895,3.16904,1.577705,0.0,4.201823,0.00938,0.0,0.0,0.00938
4,AAAGATGAGGACCACA-1,3,3DPbla,0.350455,0.0,0.350455,0.0,0.0,0.0,0.0,...,1.599129,0.0,3.26997,1.248423,0.0,3.659723,0.0,0.0,0.350455,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,TTTGTCACAAGTCATC-1,3,3DPbla,0.32352,0.0,0.0,0.0,0.0,0.0,0.32352,...,0.0,0.0,1.230642,0.0,0.0,3.218717,0.32352,0.0,0.0,0.0
1918,TTTGTCACACCACCAG-1,4,4DPre,0.0,0.0,1.875916,0.0,0.0,0.0,0.0,...,1.875916,0.0,2.527867,0.0,0.0,4.318413,0.0,0.0,0.0,0.0
1919,TTTGTCACACTTGGAT-1,3,3DPbla,0.192193,0.0,0.192193,0.0,0.0,0.0,0.0,...,1.624941,0.192193,3.305255,0.192193,0.0,4.044241,0.0,0.0,0.0,0.0
1920,TTTGTCACAGACGCAA-1,6,6CD4sp,1.706164,0.0,0.0,0.80041,0.0,0.0,0.0,...,2.770593,0.0,3.069424,0.0,0.0,4.758743,0.0,0.0,0.0,0.0
1921,TTTGTCAGTTAGATGA-1,4,4DPre,0.0,0.957765,0.0,0.0,0.0,0.0,0.957765,...,2.577827,0.0,4.449692,0.0,0.0,5.27396,0.957765,0.0,1.908289,0.957765

In [244]:
exp_df5.to_csv('tcell_data2.E', sep = "\t", index = False, index_label = False)

In [149]:
# from the example repo
exdf = pd.read_csv('/net/dali/home/mscbio/aar126/genomics/scdiff2/example/example.E', sep = "\t")

In [150]:
exdf

,cell_name,time_point,assignment,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610009B22Rik,...,Zwint,Zxda,Zxdb,Zxdc,Zyg11b,Zyx,Zzef1,Zzz3,l7Rn6,rtTA
0,1_iN2_C02,0,MEF,6.341676,0.000000,0.000000,0.000000,5.690383,0.000000,2.556539,...,4.829228,0.0,0.000000,0.000000,2.895336,1.682171,1.139292,0.000000,2.065228,0.000000
1,1_iN2_C05,0,MEF,4.959945,6.231432,0.000000,0.000000,6.055019,4.024706,4.957429,...,5.320143,0.0,0.000000,0.010157,1.912734,5.838476,0.000000,3.642170,5.092430,0.000000
2,1_iN2_C07,0,MEF,0.000000,0.000000,3.888991,0.041368,5.530216,1.793932,0.000000,...,5.096867,0.0,0.000000,0.000000,0.000000,2.614466,2.145846,3.864990,1.989720,0.000000
3,1_iN2_C08,0,MEF,4.697531,3.062912,0.000000,0.000000,0.693764,4.297325,4.853152,...,6.068946,0.0,0.000000,0.000000,0.000000,7.464196,3.407588,0.000000,3.995451,0.000000
4,1_iN2_C09,0,MEF,6.609152,6.627976,5.559868,3.247370,6.673742,0.000000,5.390071,...,6.639057,0.0,0.000000,0.000000,0.000000,7.933592,1.933924,0.000000,3.627951,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1ggS_iN4_C67,22,Neuron,2.415375,6.725156,0.000000,0.000000,0.000000,2.295439,0.000000,...,4.324884,0.0,0.000000,0.000000,5.542317,0.539820,0.000000,0.000000,0.000000,5.958162
248,1gL_iN4_C02,22,Fibroblast,6.489037,4.404424,4.184277,2.311201,4.459130,3.554364,6.509553,...,3.597637,0.0,2.402421,0.924023,0.571557,4.965917,0.019243,0.975106,4.752770,0.000000
249,1gL_iN4_C31,22,Fibroblast,7.409229,5.107711,4.009006,0.000000,3.430740,2.524009,1.500461,...,5.825282,0.0,0.000000,2.183213,1.254021,7.190141,0.000000,0.000000,5.681482,0.000000
250,1gL_iN4_C39,22,Myocyte,4.128706,0.000000,0.000000,0.000000,4.580872,0.000000,6.351578,...,0.000000,0.0,0.000000,0.000000,1.862890,6.099715,0.000000,1.623088,0.000000,5.621044
251,1gM_iN4_C42,22,Fibroblast,6.616127,0.000000,4.209771,5.131456,7.495259,1.837260,5.385572,...,1.604785,0.0,0.000000,3.468716,0.000000,6.061304,3.275710,4.260047,4.541520,0.000000

In [4]:
# load df again
df = pd.read_csv('tcell_data2.E', sep = "\t")
df

,cell_name,time_point,assignment,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,4732440D04Rik,Pcmtd1,...,mt-Nd3,mt-Nd4l,mt-Nd4,mt-Nd5,mt-Nd6,mt-Cytb,Vamp7,AC125149.3,AC149090.1,DHRSX
0,AAACCTGGTCGACTGC-1,6,6CD4sp,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,3.026627,0.000000,3.828043,1.051200,0.000000,4.521420,1.051200,0.0,0.000000,0.000000
1,AAACGGGCACATGGGA-1,5,5DPsel,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,2.632782,0.000000,3.755879,1.078193,1.078193,4.257080,1.935039,0.0,0.000000,0.000000
2,AAACGGGGTAGCGTGA-1,4,4DPre,0.000000,0.000000,0.000000,1.044197,0.0,0.0,0.000000,...,1.963344,1.963344,3.448532,1.963344,0.000000,4.940801,1.044197,0.0,0.000000,0.000000
3,AAACGGGGTATCGCAT-1,2,2preDP,1.033627,0.269895,1.227245,0.000000,0.0,0.0,0.269895,...,2.333177,0.269895,3.169040,1.577705,0.000000,4.201823,0.009380,0.0,0.000000,0.009380
4,AAAGATGAGGACCACA-1,3,3DPbla,0.350455,0.000000,0.350455,0.000000,0.0,0.0,0.000000,...,1.599129,0.000000,3.269970,1.248423,0.000000,3.659723,0.000000,0.0,0.350455,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,TTTGTCACAAGTCATC-1,3,3DPbla,0.323520,0.000000,0.000000,0.000000,0.0,0.0,0.323520,...,0.000000,0.000000,1.230642,0.000000,0.000000,3.218717,0.323520,0.0,0.000000,0.000000
1918,TTTGTCACACCACCAG-1,4,4DPre,0.000000,0.000000,1.875916,0.000000,0.0,0.0,0.000000,...,1.875916,0.000000,2.527867,0.000000,0.000000,4.318413,0.000000,0.0,0.000000,0.000000
1919,TTTGTCACACTTGGAT-1,3,3DPbla,0.192193,0.000000,0.192193,0.000000,0.0,0.0,0.000000,...,1.624941,0.192193,3.305255,0.192193,0.000000,4.044241,0.000000,0.0,0.000000,0.000000
1920,TTTGTCACAGACGCAA-1,6,6CD4sp,1.706164,0.000000,0.000000,0.800410,0.0,0.0,0.000000,...,2.770593,0.000000,3.069424,0.000000,0.000000,4.758743,0.000000,0.0,0.000000,0.000000
1921,TTTGTCAGTTAGATGA-1,4,4DPre,0.000000,0.957765,0.000000,0.000000,0.0,0.0,0.957765,...,2.577827,0.000000,4.449692,0.000000,0.000000,5.273960,0.957765,0.0,1.908289,0.957765

In [7]:
# extract cell name and 
df = pd.read_hdf('filtered.out/filtered_data.E.h5ad')

/opt/anaconda3-cluster/lib/python3.7/site-packages/tables/attributeset.py:308: DataTypeWarning: Unsupported type for attribute 'ordered' in node 'label'. Offending HDF5 class: 8
  value = self._g_getattr(self._v_node, name)
/opt/anaconda3-cluster/lib/python3.7/site-packages/tables/attributeset.py:308: DataTypeWarning: Unsupported type for attribute 'ordered' in node 'leiden'. Offending HDF5 class: 8
  value = self._g_getattr(self._v_node, name)
/opt/anaconda3-cluster/lib/python3.7/site-packages/tables/attributeset.py:308: DataTypeWarning: Unsupported type for attribute 'ordered' in node 'time'. Offending HDF5 class: 8
  value = self._g_getattr(self._v_node, name)

ValueError: Dataset(s) incompatible with Pandas data types, not table, or no datasets found in HDF5 file.